html {
    background-color: darkgray;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkgray;
    color: #333;
    margin: 0;
    padding: 0;
    
}

header, footer {
    position: fixed;
    width: 100%;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 1000;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

header h1, footer p {
    margin: 0;
    font-size: 24px;
}

hr {
    width: 500px;
    margin-top: 20px;
    border: 0;
    height: 2px;
    background: #ddd;
}

#title {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    margin-top: 100px;
    text-transform: uppercase;
}

#board {
    width: 350px;
    height: 420px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.tile {
    border: 2px solid lightgray;
    width: 55px;
    height: 55px;
    margin: 2.5px;
    color: black;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: #6AAA64;
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30);
    }
    60% {
        transform: translateY(-30px);
    }
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: #C9B458;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: #787C7E;
}

#answer {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.victory {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: #6AAA64;
    animation: victory-animation 1s infinite;
}

@keyframes victory-animation {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.5; }
    100% { transform: scale(1); opacity: 1; }
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.key-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.key {
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 10px 15px;
    margin: 2px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.key:hover {
    background-color: #e0e0e0;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: visibility 0.5s, opacity 0.5s ease;
  }
  
  .popup.visible {
    visibility: visible;
    opacity: 1;
  }
  
  .popup-content {
    max-width: 400px;
    margin: auto;
  }
  
  .popup a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .popup button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .popup button:hover {
    background-color: #444;
  }

  /* Style for hint elements */
.hint {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
    font-size: 1.2em;
  }
  
  .hint:hover {
    background-color: #e0e0e0;
  }
  
  /* Style for hint display container within each hint */
  .hint .hint-display-container {
    margin-top: 10px;
  }
  
  /* Style for displayed hints */
  .hint-display {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e0f7fa;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    font-size: 1.2em;
  }
  
  .hint-display.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Style for close button */
  #close-hint-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  #close-hint-button:hover {
    background-color: #0056b3;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #218838;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    p {
        font-size: 16px;
    }
    .btn {
        font-size: 16px;
    }
}

.pill-btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 5px;
    font-size: 18px;
    color: #fff;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 50px; /* Rayon pour la forme de pillule */
    transition: background-color 0.3s ease;
  }
  
  .pill-btn:hover {
    background-color: #218838;
  }